# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

#Ipython Notebook
.ipynb_checkpoints

#migrations
/db.sqlite3
/cfdb_django/settings/pandorfer_local.py
/cfdb_django/settings/server.py
/digedcat3.4
/cfdb_django/settings/ksenia_server.py
/playAndTry.ipynb
/cfdb_django/db.sqlite3
staticfiles
/Untitled.ipynb
