{% extends "webpage/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block scriptHeader %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.2/cropper.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.2/cropper.js"></script>
    <style type="text/css">
        img {
                max-width: 100%; /* This rule is very important, please do not ignore this! */
            }
    </style>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Cut some Glyphs from <a href="{% url 'tablets:tablet_detail' pk=object.tablet.id %}">{{ object.tablet }}</a></h2>
    </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-header">
                            Metadata
                        </div>
                        <div class="card-body">
                            {% crispy form %}
                            <hr/>
                            <div class="btn-group btn-group-crop">
                                <button id="btn-crop" type="button" class="btn btn-primary" data-method="getCroppedCanvas">
                                    crop
                                </button>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">Cut & go</div>
                        <div class="card-body">
                            <div>
                                <img id="image" src="/media/tablet_img/{{ object.filename }}">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <br>
                <div class="card">
                    <div class="card-header">
                        Glyphs
                    </div>
                    <div class="card-body">
                        <div id="show-glyphs">
                            <table class="table table-hover table-striped table-condensed">
                                <tr>
                                    <th>Sign</th>
                                    <th>ABZ-Number</th>
                                    <th>reading</th>
                                    <th>Glyph</th>
                                </tr>
                                {% for x in glyph_list %}
                                    <tr>
                                        <td><a href="{% url 'tablets:sign_detail' pk=x.sign.id %}">{{ x.sign }}</a></td>
                                        <td>{{ x.sign.abz_number }}</td>
                                        <td><a href="{% url 'tablets:glyph_detail' pk=x.id %}">{{ x.reading }}</a></td>
                                        <td>
                                            <img src="/media/glyph_img/{{ x.filename }}" width="50px"></img>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>


<script type="text/javascript">
    

</script>
<script>
    var $img = $('#image').cropper();
    $('#btn-crop').click(function () {
        $('html, body').css("cursor", "wait");
        var newImg = $img.cropper("getCroppedCanvas").toBlob(function (blob) {
            var formData = new FormData(document.querySelector("form"));
            var newFileName = formData.get('identifier')+".png"
            formData.append('image', blob, newFileName);
            /*formData.append('filename', newFileName);*/
            url = URL.createObjectURL(blob);
            var newImg = document.createElement("img"),
            url = URL.createObjectURL(blob);

            newImg.onload = function() {
                // no longer need to read the blob so it's revoked
                URL.revokeObjectURL(url);
            };

            newImg.src = url;
            document.body.appendChild(newImg);
            console.log(formData.get('identifier'));

            $.ajax('{{ object.id }}', {
            method: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function () {
              $('html, body').css("cursor", "default");
              console.log('Upload success');
              location.reload();
            },
            error: function () {
              console.log('Upload error');
            }
        });
    });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $( "td[class~='readmore']" ).hide();
    })
    $("#clickme").click(function(){
        $( "td[class~='readmore']" ).toggle("slow");
    })  
</script>

{% endblock %}

