{% extends "webpage/base.html" %}
{% load static %}
{% block Titel %}Glyph - {{ object.sign }}{% endblock %}
{% block scriptHeader %}
  
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h2><abbr title="ID: {{ object.identifier }}">{{ object.sign }}</abbr></h2>
    </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Metadata
                                {% if user.is_authenticated %}
                                    <a href="{% url 'tablets:glyph_edit' pk=object.id %}" title="edit tablet"><i class="fa fa-edit"></i></a> | <a href="{% url 'tablets:glyph_delete' pk=object.id %}" title="delete tablet"><i class="fa fa-remove"></i></a>
                                {% endif %}
                            </h3>
                        </div>
                       
                            <div style="text-align:center; padding:20px;">
                                <img src="/media/glyph_img/{{ object.filename }}" width="300">
                            </div>
                            <table class="table">
                                <tr>
                                    <th>Tablet</th>
                                    <td><a href="{% url 'tablets:tablet_detail' pk=object.tablet.id %}">{{ object.tablet }}</a></td>
                                </tr>
                                <tr>
                                    <th>Reading</th>
                                    <td>{{ object.reading }}</td>
                                </tr>
                                <tr>
                                    <th>Context</th>
                                    <td>{{ object.context }}</td>
                                </tr>
                                <tr>
                                    <th>Notes</th>
                                    <td>{{ object.note }}</td>
                                </tr>
                            </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3><a href="{% url 'tablets:sign_detail' pk=object.sign.id %}">{{ object.sign.sign_name}} (<abbr title="ABZ Number">{{ object.sign.abz_number }}</abbr>)</a></h3>
                        </div>
                        <div class="card-body text-center">
                            <h4>early</h4>
                            <img src="/media/sign_img/{{ object.sign.image1_name }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}