{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block Titel %}Sign - {{ object.sign_name }}{% endblock %}

{% block scriptHeader %}<!--leafletjs -->
    <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}"/></link>
    <script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
        <style>
            #map { height: 500px; }
        </style>
{% endblock %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{{ object.sign_name }} <span id="clickme" title="click to toggle info" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h2>
    </div>
        <div class="panel panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Metadata
                                {% if user.is_authenticated %}
                                    <a href="{% url 'tablets:sign_edit' pk=object.id %}" class="glyphicon glyphicon-edit" aria-hidden="true"></a> | <a href="#" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></a>
                                {% endif %}
                            </h3>
                        </div>
                        <div class="panel panel-body">
                            <table class="table table-bordered table-hover table-condensed">
                                <tr style="text-align:center">
                                    <td><img src="/media/sign_img/{{ object.image1_name }}" width="100"></td>
                                    <td><img src="/media/sign_img/{{ object.image2_name }}" width="100"></td>
                                </tr>
                                <tr>
                                    <th class="col-sm-3">ABZ Number</th>
                                    <td class="readmore col-sm-3"><small></small></td>
                                    <td class="col-sm-6">{{ object.abz_number }}</td>
                                </tr>
                                <tr>
                                    <th>MesZL Number</th>
                                    <td class="readmore"><small></small></td>
                                    <td>{{ object.meszl_number }}</td>
                                </tr>
                                <tr>
                                    <th>CDLI no.</th>
                                    <td class="readmore"><small></small></td>
                                    <td>{{ object.cdli_no }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>{{ glyphs }} Glyphs</h3>
                        </div>
                        <div class="panel panel-body">
                            <table class="table table-bordered table-hover table-condensed">
                                {% for x in glyph_list %}
                                    <tr>
                                        <td><img src="/media/glyph_img/{{ x.filename }}" width="100"></td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td><small>Sign</small></td>
                                                    <td class="signType">{{ x.sign }}</td>
                                                </tr>
                                                <tr>
                                                    <td><small>Reading</small></td>
                                                    <td>{{ x.reading }}</td>
                                                </tr>
                                                <tr>
                                                    <td><small>Context</small></td>
                                                    <td>{{ x.context }}</td>
                                                </tr>
                                                <tr>
                                                    <td><small>note</small></td>
                                                    <td>{{ x.note }}</td>
                                                </tr>
                                                <tr>
                                                    <td><small>ID</small></td>
                                                    <td style="text-align:right;"><small><a href="{% url 'tablets:glyph_detail' pk=x.id %}">{{ x.identifier }}</a></small><td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $( "td[class~='readmore']" ).hide();
    })
    $("#clickme").click(function(){
        $( "td[class~='readmore']" ).toggle("slow");
    })  
</script>

<!-- <script type="text/javascript">
    $( document ).ready(function() {
        var map = L.map('map').setView([48.69096, 9.14062], 5);

        L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpg', {
        attribution: 'Data, imagery and map information provided by MapQuest, OpenStreetMap <http://www.openstreetmap.org/copyright> and contributors, ODbL <http://wiki.openstreetmap.org/wiki/Legal_FAQ#3a._I_would_like_to_use_OpenStreetMap_maps._How_should_I_credit_you.3F>',
        maxZoom: 18
        }).addTo(map);

        {% for x in object.institution.all %} 
        {% if x.lat %}
        L.marker([{{ x.lat }}, {{ x.lng }}])
        .addTo(map)
        .bindPopup("<h3> {{object.name}}</h3><table class='table table-striped'> <tr> <td>responsible Institution: </td> <td>{{ x.name }}</td> </tr> <tr> <td>located in: </td> <td>{{ x.place.name }} ({{ x.place.part_of.name }})</td> </tr><tr> <td>more projects from this institution: </td> <td><a href='{% url 'browsing:browse_editions' %}?name=&institution__name={{x.name}}'>{{ x.name }}</a></td> </tr>  </table>");
        {% endif %}
        {% endfor %}
        });
</script> -->
{% endblock %}

