{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block Titel %}Sign - {{ object.sign_name }}{% endblock %}

{% block scriptHeader %}
    <!--leafletjs -->
        <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}"/></link>
        <script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
        <!-- jQuery -->

        <!--Isotop-->
        <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>

        

        
        <!--Bootstrap slider-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/css/bootstrap-slider.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/bootstrap-slider.js"></script>
        <!-- Bootstrap -->
   
        
        
        
        
        <style>
            /*#map { height: 500px; }*/
.metadata {
    position: relative;
}

.grid-item {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  border: 2px solid black;
  width: calc(92% / 4);
  margin: 1%;
  text-align: center;
}
@media (min-width: 480px) and (max-width: 768px) {

  .grid-item { width: calc(94% / 2); }
  .glyph-image { width: 50%; }

}
@media (max-width: 480px) {

  .grid-item { width: 94%; }
  .glyph-image { width: 50%; }


}
.glyph-image {
    width: 70%;
    height: auto;
    margin-bottom: 20px;
}
.glyph-link {
    
}

.button:hover {
  background-color: #e7ecef;
  border-color: #ccc;
  color: #222;

}

.button:active,
.button.is-checked {
  background-color: #007bb4;
  border-color: #007bb4;
}

.button.is-checked {
  color: white;
  border-color: #007bb4;
  /*text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);*/
}

.button:active, .button.is-checked {
  /*box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);*/
  border-color: #007bb4;
 
}


#quicksearch {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#quicksearch:focus {
   /* width: 60%;*/
}
/* --------------------------------------- */
/* Bootstrap Slider */
/* --------------------------------------- */
.sliders { padding: 15px 0 30px 0; }
.filter-section .filter-label {
  display: block;
  font-weight: bold;
}

.slider.slider-horizontal {
 width: 50%;
}

.bootstrap-slider .slider-selection { background: #2175b0; }

        </style>
    <!--leafletjs END -->
    <!--tablesorter -->
        <script src="{% static 'webpage/libraries/jquery.tablesorter/jquery.tablesorter.js' %}"></script>
        <script src="{% static 'webpage/libraries/jquery.tablesorter/jquery.tablesorter.widgets.js' %}"></script>
        <script src="{% static 'webpage/libraries/jquery.tablesorter/jquery.tablesorter.pager.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'webpage/libraries/jquery.tablesorter/theme.bootstrap.css' %}"></link>
        <link rel="stylesheet" type="text/css" href="{% static 'webpage/libraries/jquery.tablesorter/jquery.tablesorter.pager.css' %}"></link>
        <script> 
            $(function() { $("table").tablesorter({ theme : "bootstrap", widthFixed: false,
                headerTemplate : '{content} {icon}', widgets : [ "uitheme", "filter", "zebra" ], filter_cssFilter: "form-control", }) 
                }); 
        </script>
    <!--tablesorter END -->
{% endblock %}
{% block content %}


<!--Metadata block -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Metadata {{ object.sign_name }} (<abbr title="ABZ Number">{{ object.abz_number }}</abbr>)
                                {% if user.is_authenticated %}
                                    <a href="{% url 'tablets:sign_edit' pk=object.id %}" class="glyphicon glyphicon-edit" aria-hidden="true" title="edit Sign"></a> | <a href="{% url 'tablets:sign_delete' pk=object.id %}" class="glyphicon glyphicon-remove-circle" aria-hidden="true" title="delete Sign"></a>
                                {% endif %}
                            </h3>
                        </div>
                        <div class="panel-body" style="text-align:center; padding:20px;">

                                <img src="/media/sign_img/{{ object.image1_name }}" width="100"/>
                                <p>ABZ Number: {{ object.abz_number }} </p>
                            <p>MesZL Number: {{ object.meszl_number }}</p>

                            
                        </div>
                    </div>


<!--Refine search -->


<!-- <p><input type="text" class="quicksearch" placeholder="Search" id="quicksearch"/></p> -->

<div class="filters" id="filters">


    <div class="button-group" data-filter-group="region">
        <p>Filter by Regions
        <button class="button btn btn-default btn-filter is-checked" data-filter="">show all</button>
        {% for x in region_list %}
        <button class="button btn btn-default btn-filter" data-filter=".{{x.get_slug_name}}">{{x}}</button>
        {% endfor %}
        </p>
    </div>

    <div class="button-group" data-filter-group="period">
        <p>Filter by Periods
        <button class="button btn btn-default btn-filter is-checked" data-filter="">show all</button>
        {% for x in period_list %}
        <button class="button btn btn-default btn-filter" data-filter=".{{x}}">{{x}}</button>
        {% endfor %}
        </p>    
    </div>
   

</div>
<div class="sliders row">
<div class="col-md-6">
        <div class="bootstrap-slider">
          <p class="filter-label">Year Range: <span class="filter-selection"></span></p>
          <b class="filter-min">800 BC</b> &nbsp;&nbsp;&nbsp;
          <input id="filter-year" type="text" class="bootstrap-slider" value="" data-filter-group="year">&nbsp;&nbsp;&nbsp;
          <b class="filter-max">0 BC</b>
        </div>
      </div>

</div>


<!--Grid-->

<div class="grid">
{% for x in glyph_list %}


<div class="grid-item {{x.tablet.region.get_slug_name}} {{x.tablet.period.name}}" data-year="{{x.tablet.year}}">
<a href="{% url 'tablets:glyph_detail' pk=x.id %}" class="glyph-link">
<img src="/media/glyph_img/{{ x.filename }}" class="glyph-image">
</a>

<div class="glyph-description">
<p>{{ x.reading }} | {{ x.context }}</p>
<p>{{ x.tablet.period.name }}</p>
<p>{{ x.tablet.year }}</p>
<p>{{ x.tablet.date_not_before }} - {{ x.tablet.date_not_after }}</p>
<p>{{ x.tablet.region }}</p>
<p>{{ x.tablet.scribe.name }}</p>
</div>

</div>


{% endfor %}
</div>
<script type="text/javascript">

$(window).on('load resize', function (){
$('.grid').isotope({
 itemSelector: '.grid-item',
});

});



//add here till debounce
$(document).ready( function() {

  // Create object to store filter for each group
  var buttonFilters = {};
  var buttonFilter = '*';
  // Create new object for the range filters and set default values,
  // The default values should correspond to the default values from the slider
  var rangeFilters = {
      'year': {'min': 0, 'max': 800}
    };

  // Initialise Isotope
  // Set the item selector
  var $grid = $('.grid').isotope({
    itemSelector: '.grid-item',
    // layout: 'masonry',
    // use filter function
    filter: function() {
      var $this = $(this);
      var year = $this.attr('data-year');

      var isInyearRange = (rangeFilters['year'].min <= year && rangeFilters['year'].max >= year);

      //console.log(rangeFilters['year']);
      //console.log(rangeFilters['weight']);
      // Debug to check whether an item is within the year weight range
      //console.log('isInyearRange:' +isInyearRange + '\nisInWeightRange: ' + isInWeightRange );
      return $this.is( buttonFilter ) && isInyearRange;
    }
  });


  // Initialise Sliders
  // Set min/max range on sliders as well as default values
  var $yearSlider = $('#filter-year').slider({ tooltip_split: true, min: 0,  max: 800, range: true, value: [0, 800] });



  function updateRangeSlider(slider, slideEvt) {
    console.log('Current slider:' + slider);
    var sldmin = +slideEvt.value[0],
        sldmax = +slideEvt.value[1],
        // Find which filter group this slider is in (in this case it will be either year or weight)
        // This can be changed by modifying the data-filter-group="age" attribute on the slider HTML
        filterGroup = slider.attr('data-filter-group'),
        // Set current selection in variable that can be pass to the label
        currentSelection = sldmin + ' - ' + sldmax;

      // Update filter label with new range selection
      slider.siblings('.filter-label').find('.filter-selection').text(currentSelection);

      // Set min and max values for current selection to current selection
      // If no values are found set min to 0 and max to 100000
      // Store min/max values in rangeFilters array in the relevant filter group
      // E.g. rangeFilters['year'].min and rangeFilters['year'].max
      console.log('Filtergroup: '+ filterGroup);
      rangeFilters[filterGroup] = {
        min: sldmin || 0,
        max: sldmax || 100000
      };
      // Trigger isotope again to refresh layout
      $grid.isotope();

  }

  // Trigger Isotope Filter when slider drag has stopped
  $yearSlider.on('slideStop', function(slideEvt){
    var $this =$(this);
    updateRangeSlider($this, slideEvt);
  });



  // Look inside element with .filters class for any clicks on elements with .btn
  $('.filters').on( 'click', '.btn', function() {
    var $this = $(this);
    // Get group key from parent btn-group (e.g. data-filter-group="color")
    var $buttonGroup = $this.parents('.button-group');
    var filterGroup = $buttonGroup.attr('data-filter-group');
    // set filter for group
    buttonFilters[ filterGroup ] = $this.attr('data-filter');
    // Combine filters or set the value to * if buttonFilters
    buttonFilter = concatValues( buttonFilters ) || '*';
    // Log out current filter to check that it's working when clicked
    console.log( buttonFilter )
    // Trigger isotope again to refresh layout
    $grid.isotope();
  });


  // change is-checked class on btn-filter to toggle which one is active
  $('.button-group').each( function( i, buttonGroup ) {
      var $buttonGroup = $( buttonGroup );
      $buttonGroup.on( 'click', '.btn-filter', function() {
          $buttonGroup.find('.is-checked').removeClass('is-checked');
          $(this).addClass('is-checked');
      });
  });

});

// Flatten object by concatting values
function concatValues( obj ) {
  var value = '';
  for ( var prop in obj ) {
    value += obj[ prop ];
  }
  return value;
}



// debounce so filtering doesn't happen every millisecond
function debounce( fn, threshold ) {
  var timeout;
  return function debounced() {
    if ( timeout ) {
      clearTimeout( timeout );
    }
    function delayed() {
      fn();
      timeout = null;
    }
    setTimeout( delayed, threshold || 100 );
  };
}
</script>
<script>

</script>





<script type="text/javascript">
    $(document).ready(function(){
        $( "td[class~='readmore']" ).hide();
    })
    $("#clickme").click(function(){
        $( "td[class~='readmore']" ).toggle("slow");
    })  
</script>

<!-- <script type="text/javascript">
    $( document ).ready(function() {
        var map = L.map('map').setView([48.69096, 9.14062], 5);

        L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpg', {
        attribution: 'Data, imagery and map information provided by MapQuest, OpenStreetMap <http://www.openstreetmap.org/copyright> and contributors, ODbL <http://wiki.openstreetmap.org/wiki/Legal_FAQ#3a._I_would_like_to_use_OpenStreetMap_maps._How_should_I_credit_you.3F>',
        maxZoom: 18
        }).addTo(map);

        {% for x in object.institution.all %} 
        {% if x.lat %}
        L.marker([{{ x.lat }}, {{ x.lng }}])
        .addTo(map)
        .bindPopup("<h3> {{object.name}}</h3><table class='table table-striped'> <tr> <td>responsible Institution: </td> <td>{{ x.name }}</td> </tr> <tr> <td>located in: </td> <td>{{ x.place.name }} ({{ x.place.part_of.name }})</td> </tr><tr> <td>more projects from this institution: </td> <td><a href='{% url 'browsing:browse_editions' %}?name=&institution__name={{x.name}}'>{{ x.name }}</a></td> </tr>  </table>");
        {% endif %}
        {% endfor %}
        });
</script> -->
{% endblock %}

