<tei:TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:tei="http://www.tei-c.org/ns/1.0" version="5.0">
    <tei:teiHeader>
        <tei:fileDesc>
            <tei:titleStmt>
                <tei:title>{{ object.text_reference }}</tei:title>
            </tei:titleStmt>
            <tei:publicationStmt>
                <tei:p/>
            </tei:publicationStmt>
            <tei:sourceDesc>
                <tei:msDesc>
                    <tei:msIdentifier>
                        <tei:region>{{ object.region.name }}</tei:region>
                        <tei:collection type="archive">Bēl-rēmanni</tei:collection>
                        <tei:collection type="dossier"/>
                        <tei:idno>BM 42568</tei:idno>
                        <tei:altIdentifier type="CDLI">
                            <tei:idno/>
                        </tei:altIdentifier>
                        <tei:altIdentifier type="NABUCCO">
                            <tei:idno>{{ object.nabucco_no }}</tei:idno>
                        </tei:altIdentifier>
                        <tei:altIdentifier type="museumNumber">
                            <tei:idno>{{ object.text_reference }}</tei:idno>
                        </tei:altIdentifier>
                    </tei:msIdentifier>
                    <tei:physDesc>
                        <tei:handDesc>
                            <tei:handNote>
                                <tei:persName role="scribe">{{ object.scribe }}</tei:persName>
                                <tei:p/>
                                <tei:fs>
                                    <tei:f name="ductus">
                                        <tei:symbol value="{{ object.ductus }}"/>
                                    </tei:f>
                                </tei:fs>
                            </tei:handNote>
                        </tei:handDesc>
                        <tei:scriptDesc>
                            <tei:scriptNote>
                
              </tei:scriptNote>
                        </tei:scriptDesc>
                    </tei:physDesc>
                    <tei:additional>
                        <tei:surrogates>
                            <tei:listBibl/>
                        </tei:surrogates>
                    </tei:additional>
                </tei:msDesc>
            </tei:sourceDesc>
        </tei:fileDesc>
        <tei:profileDesc>
            <tei:creation>
                <tei:origPlace>
                    <tei:placeName evidence="{{ object.place_information }}">{{ object.place }}</tei:placeName>
                </tei:origPlace>
                <tei:origDate>
                    <tei:date calendar="#gregorian" notAfter="{{ object.date_not_after }}" notBefore="{{ date_not_before }}" period="{{ object.period }}">514</tei:date>
                    <tei:date calendar="#babylonian">{{ babyloneian_time }}</tei:date>
                    <tei:note/>
                </tei:origDate>
            </tei:creation>
            <tei:particDesc>
        
      </tei:particDesc>
            <tei:textClass>
                <tei:keywords scheme="local">
                    <tei:term>{{ object.text_type.name }}</tei:term>
                </tei:keywords>
            </tei:textClass>
            <tei:abstract xml:lang="en">
                <tei:ab>{{ object.content }}</tei:ab>
            </tei:abstract>
        </tei:profileDesc>
        <tei:encodingDesc>
            <tei:charDecl>
            {% for x in glyph_list %}
                <glyph xml:id="charDecl_{{ x.identifier }}">
                    <charProp>
                        <localName>sequence</localName>
                        <value></value>
                    </charProp>
                </glyph>
            {% endfor %}
            </tei:charDecl>
        </tei:encodingDesc>
        <tei:revisionDesc>
            <tei:listChange>
                <tei:change>
                    <!-- this would be a nice place to do something with django-reversion -->
                </tei:change>
            </tei:listChange>
        </tei:revisionDesc>
    </tei:teiHeader>
    <tei:text>
        <tei:body>
            <tei:ab>
            {% for x in glyph_list %}
                <seg type="context" xml:id="context_{{ x.context }}" xml:space="preserve">{{ x.context }}<g ana="#charDecl_{{ x.identifier }}" facs="#graphic_glyph_{{ x.identifier }}" type="{{ x.sign.sign_name }}" xml:id="glyph_{{ x.identifier}}">{{ x.reading }}</g></seg>
            {% endfor %}
            </tei:ab>
        </tei:body>
        <tei:back>
        {% for x in glyph_list %}
            <note target="#glyph_{{ x.identifier }}">{{ x.note }}</note>
         {% endfor %}
        </tei:back>
    </tei:text>
</tei:TEI>