{% extends "webpage/base.html" %}
{% load static %}
{% block Titel %}Tablet - {{ object.title }}{% endblock %}
{% block scriptHeader %}
{% endblock %}
{% block content %}
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>{{ object.title }}
                                {% if user.is_authenticated %}
                                    <a href="{% url 'tablets:tablet_edit' pk=object.id %}" title="edit tablet"><i class="fa fa-edit"></i></a> | <a href="{% url 'tablets:tablet_delete' pk=object.id %}" title="delete tablet"><i class="fa fa-remove"></i></a>
                                {% endif %}
                                | <a href="{% url 'tablets:tablet_to_tei' pk=object.id %}" title="download data in XML/TEI"><i class="fa fa-download"></i></a>

                            </h3>
                        </div>
                            <table class="table">
                                <tr>
                                    <th class="w-50">Place (Region)</th>
                                    <td class="w-50">
                                        <a href="{% url 'browsing:browse_tablets' %}?place={{ object.place.id }}">{{ object.place }} ({{ object.region }})</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Archive</th>
                                   
                                    <td><a href="{% url 'browsing:browse_tablets' %}?archive={{ object.archive.id }}">{{ object.archive }}</a> {{ object.dossier }}</td>
                                </tr>
                                <tr>
                                    <th>CDLI no.</th>
                                   
                                    <td>{{ object.cdli_no }}</td>
                                </tr>
                                <tr>
                                    <th>NABUCCO no.</th>
                                   
                                    <td>{{ object.nabucco_no }}</td>
                                </tr>
                                <tr>
                                    <th>Museum Number</th>
                                    
                                    <td>{{ object.museum_no }}</td>
                                </tr>
                                <tr>
                                    <th>Scribe</th>
                                   
                                    <td>
                                        <a href="{% url 'browsing:browse_tablets' %}?scribe={{ object.scribe.id }}">{{ object.scribe }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Period | Year | Range</th>
                                    
                                    <td>
                                        <a href="{% url 'browsing:browse_tablets' %}?period={{ object.period.id }}">{{ object.period }}</a> | {{ object.year }} | {{ object.date_not_before }} - {{ object.date_not_after }} (BC)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Babylonian Date</th>
                                   
                                    <td>{{ object.babyloneian_time }}</td>
                                </tr>
                                <tr>
                                    <th>Comment to Date</th>
                                    <td>{{ object.date_comment }}</td>
                                </tr>
                                <tr>
                                    <th>Ductus</th>
                                    <td>{{ object.ductus }}</td>
                                </tr>
                                <tr>
                                    <th>Text Type</th>
                                    <td>{{ object.text_type }}</td>
                                </tr>
                                <tr>
                                    <th>Content</th>
                                    <td>{{ object.content }}</td>
                                </tr>
                                <tr>
                                    <th>Distinctive Protagonists</th>
                                    <td>{{ object.distinctive_protagonists }}</td>
                                </tr>
                                <tr>
                                    <th>Bibliography</th>
                                    <td>{{ object.bibliography }}</td>
                                </tr>
                            </table>
                    </div>
                     {% if user.is_authenticated %}
                     <br>
                        <div class="card">
                            <div class="card-header">
                                <h3>{{ images }} Images</h3>
                            </div>
                            
                                <table class="table">
                                    {% for x in img_list %}
                                    <tr>
                                        <td class="w-50"><img src="{% url 'protected_server' pic=x.filename %}" width="100"></td>
                                        <td class="w-50">
                                        {{ x.comment }}<br/>
                                            {% if user.is_authenticated %}
                                            <a href="{% url 'tablets:tabletimg_detail' pk=x.id %}"><i class="fa fa-external-link"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>{{ glyphs }} Glyphs</h3>
                        </div>
                            <table class="table table-hover">
                            {% for x in glyph_list %}
                            <tr>
                            <td class="w-40" style="text-align:center;">
                                <img src="/media/glyph_img/{{ x.filename }}" width="100">
                            </td>
                            <td class="w-60">
                                <p><b>Sign:</b> {{ x.sign }}<br>
                                <b>Reading:</b> {{ x.reading }}<br>
                                <b>Context:</b> {{ x.context }}<br>
                                <b>Note:</b> {{ x.note }}<br>
                                <b>ID:</b> <a href="{% url 'tablets:glyph_detail' pk=x.id %}">{{ x.identifier }}</a><br>    
                                </p>
                            </td>
                            </tr>
                            {% endfor %}
                            </table>                        
                    </div>
                </div>
            </div>
{% endblock %}