<tei:TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:tei="http://www.tei-c.org/ns/1.0" version="5.0">
    <tei:teiHeader>
        <tei:fileDesc>
            <tei:titleStmt>
                <tei:title>{{ object.text_reference }}</tei:title>
            </tei:titleStmt>
            <tei:publicationStmt>
                <tei:p/>
            </tei:publicationStmt>
            <tei:sourceDesc>
                <tei:msDesc>
                    <tei:msIdentifier>
                        <tei:region>{{ object.region.name }}</tei:region>
                        <tei:collection type="archive">Bēl-rēmanni</tei:collection>
                        <tei:collection type="dossier"/>
                        <tei:idno>BM 42568</tei:idno>
                        <tei:altIdentifier type="CDLI">
                            <tei:idno/>
                        </tei:altIdentifier>
                        <tei:altIdentifier type="NABUCCO">
                            <tei:idno>{{ object.nabucco_no }}</tei:idno>
                        </tei:altIdentifier>
                        <tei:altIdentifier type="museumNumber">
                            <tei:idno>{{ object.text_reference }}</tei:idno>
                        </tei:altIdentifier>
                    </tei:msIdentifier>
                    <tei:physDesc>
                        <tei:handDesc>
                            <tei:handNote>
                                <tei:persName role="scribe">{{ object.scribe }}</tei:persName>
                                <tei:p/>
                                <tei:fs>
                                    <tei:f name="ductus">
                                        <tei:symbol value="{{ object.ductus }}"/>
                                    </tei:f>
                                </tei:fs>
                            </tei:handNote>
                        </tei:handDesc>
                        <tei:scriptDesc>
                            <tei:scriptNote>
                
              </tei:scriptNote>
                        </tei:scriptDesc>
                    </tei:physDesc>
                    <tei:additional>
                        <tei:surrogates>
                            <tei:listBibl/>
                        </tei:surrogates>
                    </tei:additional>
                </tei:msDesc>
            </tei:sourceDesc>
        </tei:fileDesc>
        <tei:profileDesc>
            <tei:creation>
                <tei:origPlace>
                    <tei:placeName evidence="internal">Babylon</tei:placeName>
                </tei:origPlace>
                <tei:origDate>
                    <tei:date calendar="#gregorian" notAfter="" notBefore="" period="achaemenid">514</tei:date>
                    <tei:date calendar="#babylonian">Dar08-IV-26</tei:date>
                    <tei:note/>
                </tei:origDate>
            </tei:creation>
            <tei:particDesc>
        
      </tei:particDesc>
            <tei:textClass>
                <tei:keywords scheme="local">
                    <tei:term>Receipt</tei:term>
                </tei:keywords>
            </tei:textClass>
            <tei:abstract xml:lang="en">
                <tei:ab>Repayment of a debt from prebendary income</tei:ab>
            </tei:abstract>
        </tei:profileDesc>
        <tei:encodingDesc>
            <tei:charDecl>
                <glyph xml:id="charDecl_cefcbb45-a89a-4b13-acad-9e21479214ea">
                    <charProp>
                        <localName>sequence</localName>
                        <value/>
                    </charProp>
                </glyph>
                <glyph xml:id="charDecl_39bc9d60-ed1f-4379-aaae-14c3afb8045c">
                    <charProp>
                        <localName>sequence</localName>
                        <value/>
                    </charProp>
                </glyph>
                <glyph xml:id="charDecl_1d4ff33c-e7bf-43e1-9f32-ea701b4c86fa">
                    <charProp>
                        <localName>sequence</localName>
                        <value/>
                    </charProp>
                </glyph>
                <glyph xml:id="charDecl_4c9a9c89-09a6-4c84-aa0a-8e083f626c6a">
                    <charProp>
                        <localName>sequence</localName>
                        <value/>
                    </charProp>
                </glyph>
                <glyph xml:id="charDecl_f1e750fe-854a-477b-8716-41c3bccf9d1a">
                    <charProp>
                        <localName>sequence</localName>
                        <value/>
                    </charProp>
                </glyph>
                <glyph xml:id="charDecl_32b048f4-b935-438a-ae87-8908459e403f">
                    <charProp>
                        <localName>sequence</localName>
                        <value/>
                    </charProp>
                </glyph>
                <glyph xml:id="charDecl_a75132ae-b0ea-43e0-9e77-b87d2242d313">
                    <charProp>
                        <localName>sequence</localName>
                        <value/>
                    </charProp>
                </glyph>
                <glyph xml:id="charDecl_12b01548-a0c0-4697-8b7f-fb994c6c5bfc">
                    <charProp>
                        <localName>sequence</localName>
                        <value/>
                    </charProp>
                </glyph>
                <glyph xml:id="charDecl_237b81a3-c1e2-44ed-b728-8b5ff582737f">
                    <charProp>
                        <localName>sequence</localName>
                        <value/>
                    </charProp>
                </glyph>
                <glyph xml:id="charDecl_cfa42540-dbf0-4012-81da-bd02cbcaafb8">
                    <charProp>
                        <localName>sequence</localName>
                        <value/>
                    </charProp>
                </glyph>
                <glyph xml:id="charDecl_d7701a07-65bb-421b-9ab3-87c3395973f0">
                    <charProp>
                        <localName>sequence</localName>
                        <value/>
                    </charProp>
                </glyph>
                <glyph xml:id="charDecl_71ce64fa-e098-481e-be14-80213f92dec6">
                    <charProp>
                        <localName>sequence</localName>
                        <value/>
                    </charProp>
                </glyph>
            </tei:charDecl>
        </tei:encodingDesc>
        <tei:revisionDesc>
            <tei:listChange>
                <tei:change>
          
                </tei:change>
            </tei:listChange>
        </tei:revisionDesc>
    </tei:teiHeader>
    <tei:sourceDoc>
        <surface>
            <graphic height="3264px" url="2015-03-03%2011.17.27.jpg" width="2448px"/>
            <zone corresp="#context_cefcbb45-a89a-4b13-acad-9e21479214ea">
                <zone corresp="#glyph_cefcbb45-a89a-4b13-acad-9e21479214ea" lrx="709" lry="1810" ulx="487" uly="1595">
                    <graphic url="_glyphs/cefcbb45-a89a-4b13-acad-9e21479214ea.png" xml:id="graphic_glyph_cefcbb45-a89a-4b13-acad-9e21479214ea"/>
                </zone>
            </zone>
            <zone corresp="#context_39bc9d60-ed1f-4379-aaae-14c3afb8045c">
                <zone corresp="#glyph_39bc9d60-ed1f-4379-aaae-14c3afb8045c" lrx="904" lry="1774" ulx="660" uly="1601">
                    <graphic url="_glyphs/39bc9d60-ed1f-4379-aaae-14c3afb8045c.png" xml:id="graphic_glyph_39bc9d60-ed1f-4379-aaae-14c3afb8045c"/>
                </zone>
            </zone>
            <zone corresp="#context_1d4ff33c-e7bf-43e1-9f32-ea701b4c86fa">
                <zone corresp="#glyph_1d4ff33c-e7bf-43e1-9f32-ea701b4c86fa" lrx="1305" lry="1812" ulx="1061" uly="1617">
                    <graphic url="_glyphs/1d4ff33c-e7bf-43e1-9f32-ea701b4c86fa.png" xml:id="graphic_glyph_1d4ff33c-e7bf-43e1-9f32-ea701b4c86fa"/>
                </zone>
            </zone>
            <zone corresp="#context_4c9a9c89-09a6-4c84-aa0a-8e083f626c6a">
                <zone corresp="#glyph_4c9a9c89-09a6-4c84-aa0a-8e083f626c6a" lrx="567" lry="1898" ulx="368" uly="1745">
                    <graphic url="_glyphs/4c9a9c89-09a6-4c84-aa0a-8e083f626c6a.png" xml:id="graphic_glyph_4c9a9c89-09a6-4c84-aa0a-8e083f626c6a"/>
                </zone>
            </zone>
            <zone corresp="#context_f1e750fe-854a-477b-8716-41c3bccf9d1a">
                <zone corresp="#glyph_f1e750fe-854a-477b-8716-41c3bccf9d1a" lrx="689" lry="1930" ulx="528" uly="1761">
                    <graphic url="_glyphs/f1e750fe-854a-477b-8716-41c3bccf9d1a.png" xml:id="graphic_glyph_f1e750fe-854a-477b-8716-41c3bccf9d1a"/>
                </zone>
            </zone>
            <zone corresp="#context_32b048f4-b935-438a-ae87-8908459e403f">
                <zone corresp="#glyph_32b048f4-b935-438a-ae87-8908459e403f" lrx="856" lry="1937" ulx="628" uly="1761">
                    <graphic url="_glyphs/32b048f4-b935-438a-ae87-8908459e403f.png" xml:id="graphic_glyph_32b048f4-b935-438a-ae87-8908459e403f"/>
                </zone>
            </zone>
            <zone corresp="#context_a75132ae-b0ea-43e0-9e77-b87d2242d313">
                <zone corresp="#glyph_a75132ae-b0ea-43e0-9e77-b87d2242d313" lrx="984" lry="2107" ulx="753" uly="1912">
                    <graphic url="_glyphs/a75132ae-b0ea-43e0-9e77-b87d2242d313.png" xml:id="graphic_glyph_a75132ae-b0ea-43e0-9e77-b87d2242d313"/>
                </zone>
            </zone>
            <zone corresp="#context_12b01548-a0c0-4697-8b7f-fb994c6c5bfc">
                <zone corresp="#glyph_12b01548-a0c0-4697-8b7f-fb994c6c5bfc" lrx="1591" lry="2543" ulx="1347" uly="2348">
                    <graphic url="_glyphs/12b01548-a0c0-4697-8b7f-fb994c6c5bfc.png" xml:id="graphic_glyph_12b01548-a0c0-4697-8b7f-fb994c6c5bfc"/>
                </zone>
            </zone>
        </surface>
        <surface>
            <graphic height="3264px" url="2015-03-03%2011.17.57.jpg" width="2448px"/>
            <zone corresp="#context_237b81a3-c1e2-44ed-b728-8b5ff582737f">
                <zone corresp="#glyph_237b81a3-c1e2-44ed-b728-8b5ff582737f" lrx="606" lry="1720" ulx="294" uly="1492">
                    <graphic url="_glyphs/237b81a3-c1e2-44ed-b728-8b5ff582737f.png" xml:id="graphic_glyph_237b81a3-c1e2-44ed-b728-8b5ff582737f"/>
                </zone>
            </zone>
            <zone corresp="#context_cfa42540-dbf0-4012-81da-bd02cbcaafb8">
                <zone corresp="#glyph_cfa42540-dbf0-4012-81da-bd02cbcaafb8" lrx="829" lry="1712" ulx="545" uly="1511">
                    <graphic url="_glyphs/cfa42540-dbf0-4012-81da-bd02cbcaafb8.png" xml:id="graphic_glyph_cfa42540-dbf0-4012-81da-bd02cbcaafb8"/>
                </zone>
            </zone>
            <zone corresp="#context_d7701a07-65bb-421b-9ab3-87c3395973f0">
                <zone corresp="#glyph_d7701a07-65bb-421b-9ab3-87c3395973f0" lrx="514" lry="1917" ulx="323" uly="1669">
                    <graphic url="_glyphs/d7701a07-65bb-421b-9ab3-87c3395973f0.png" xml:id="graphic_glyph_d7701a07-65bb-421b-9ab3-87c3395973f0"/>
                </zone>
            </zone>
            <zone corresp="#context_71ce64fa-e098-481e-be14-80213f92dec6">
                <zone corresp="#glyph_71ce64fa-e098-481e-be14-80213f92dec6" lrx="639" lry="1917" ulx="466" uly="1689">
                    <graphic url="_glyphs/71ce64fa-e098-481e-be14-80213f92dec6.png" xml:id="graphic_glyph_71ce64fa-e098-481e-be14-80213f92dec6"/>
                </zone>
            </zone>
        </surface>
    </tei:sourceDoc>
    <tei:text>
        <tei:body>
            <tei:ab>
                <seg type="context" xml:id="context_cefcbb45-a89a-4b13-acad-9e21479214ea" xml:space="preserve">ú-<g ana="#charDecl_cefcbb45-a89a-4b13-acad-9e21479214ea" facs="#graphic_glyph_cefcbb45-a89a-4b13-acad-9e21479214ea" type="AN" xml:id="glyph_cefcbb45-a89a-4b13-acad-9e21479214ea">ìl</g>-tì</seg>
                <seg type="context" xml:id="context_39bc9d60-ed1f-4379-aaae-14c3afb8045c" xml:space="preserve">ú-ìl-<g ana="#charDecl_39bc9d60-ed1f-4379-aaae-14c3afb8045c" facs="#graphic_glyph_39bc9d60-ed1f-4379-aaae-14c3afb8045c" type="DIM" xml:id="glyph_39bc9d60-ed1f-4379-aaae-14c3afb8045c">tì</g>
                </seg>
                <seg type="context" xml:id="context_1d4ff33c-e7bf-43e1-9f32-ea701b4c86fa" xml:space="preserve">1/2 <g ana="#charDecl_1d4ff33c-e7bf-43e1-9f32-ea701b4c86fa" facs="#graphic_glyph_1d4ff33c-e7bf-43e1-9f32-ea701b4c86fa" type="MA" xml:id="glyph_1d4ff33c-e7bf-43e1-9f32-ea701b4c86fa">MA</g>.NA</seg>
                <seg type="context" xml:id="context_4c9a9c89-09a6-4c84-aa0a-8e083f626c6a" xml:space="preserve">
                    <g ana="#charDecl_4c9a9c89-09a6-4c84-aa0a-8e083f626c6a" facs="#graphic_glyph_4c9a9c89-09a6-4c84-aa0a-8e083f626c6a" type="PAP" xml:id="glyph_4c9a9c89-09a6-4c84-aa0a-8e083f626c6a">pap</g>-pa-su</seg>
                <seg type="context" xml:id="context_f1e750fe-854a-477b-8716-41c3bccf9d1a" xml:space="preserve">
                    <g ana="#charDecl_f1e750fe-854a-477b-8716-41c3bccf9d1a" facs="#graphic_glyph_f1e750fe-854a-477b-8716-41c3bccf9d1a" type="PA" xml:id="glyph_f1e750fe-854a-477b-8716-41c3bccf9d1a">pa</g>p-pa-su</seg>
                <seg type="context" xml:id="context_32b048f4-b935-438a-ae87-8908459e403f" xml:space="preserve">pap-pa-<g ana="#charDecl_32b048f4-b935-438a-ae87-8908459e403f" facs="#graphic_glyph_32b048f4-b935-438a-ae87-8908459e403f" type="SU" xml:id="glyph_32b048f4-b935-438a-ae87-8908459e403f">su</g>
                </seg>
                <seg type="context" xml:id="context_a75132ae-b0ea-43e0-9e77-b87d2242d313" xml:space="preserve">I.d.UTU-<g ana="#charDecl_a75132ae-b0ea-43e0-9e77-b87d2242d313" facs="#graphic_glyph_a75132ae-b0ea-43e0-9e77-b87d2242d313" type="BA" xml:id="glyph_a75132ae-b0ea-43e0-9e77-b87d2242d313">BA</g>.šá </seg>
                <seg type="context" xml:id="context_12b01548-a0c0-4697-8b7f-fb994c6c5bfc" xml:space="preserve">1/2 MA.NA 1 <g ana="#charDecl_12b01548-a0c0-4697-8b7f-fb994c6c5bfc" facs="#graphic_glyph_12b01548-a0c0-4697-8b7f-fb994c6c5bfc" type="ṬU" xml:id="glyph_12b01548-a0c0-4697-8b7f-fb994c6c5bfc">GÍN</g>
                </seg>
                <seg type="context" xml:id="context_237b81a3-c1e2-44ed-b728-8b5ff582737f" xml:space="preserve">I.<g ana="#charDecl_237b81a3-c1e2-44ed-b728-8b5ff582737f" facs="#graphic_glyph_237b81a3-c1e2-44ed-b728-8b5ff582737f" type="AD" xml:id="glyph_237b81a3-c1e2-44ed-b728-8b5ff582737f">at</g>-kal-d.K[Á]</seg>
                <seg type="context" xml:id="context_cfa42540-dbf0-4012-81da-bd02cbcaafb8" xml:space="preserve">I.at-<g ana="#charDecl_cfa42540-dbf0-4012-81da-bd02cbcaafb8" facs="#graphic_glyph_cfa42540-dbf0-4012-81da-bd02cbcaafb8" type="KAL" xml:id="glyph_cfa42540-dbf0-4012-81da-bd02cbcaafb8">kal</g>-d.K[Á]</seg>
                <seg type="context" xml:id="context_d7701a07-65bb-421b-9ab3-87c3395973f0" xml:space="preserve">I.<g ana="#charDecl_d7701a07-65bb-421b-9ab3-87c3395973f0" facs="#graphic_glyph_d7701a07-65bb-421b-9ab3-87c3395973f0" type="NI" xml:id="glyph_d7701a07-65bb-421b-9ab3-87c3395973f0">ni</g>-din-tú</seg>
                <seg type="context" xml:id="context_71ce64fa-e098-481e-be14-80213f92dec6" xml:space="preserve">I.ni-<g ana="#charDecl_71ce64fa-e098-481e-be14-80213f92dec6" facs="#graphic_glyph_71ce64fa-e098-481e-be14-80213f92dec6" type="DIN" xml:id="glyph_71ce64fa-e098-481e-be14-80213f92dec6">din</g>-tú</seg>
            </tei:ab>
        </tei:body>
        <tei:back>
            <note target="#glyph_cefcbb45-a89a-4b13-acad-9e21479214ea"/>
            <note target="#glyph_39bc9d60-ed1f-4379-aaae-14c3afb8045c"/>
            <note target="#glyph_1d4ff33c-e7bf-43e1-9f32-ea701b4c86fa"/>
            <note target="#glyph_4c9a9c89-09a6-4c84-aa0a-8e083f626c6a"/>
            <note target="#glyph_f1e750fe-854a-477b-8716-41c3bccf9d1a"/>
            <note target="#glyph_32b048f4-b935-438a-ae87-8908459e403f"/>
            <note target="#glyph_a75132ae-b0ea-43e0-9e77-b87d2242d313">PN</note>
            <note target="#glyph_12b01548-a0c0-4697-8b7f-fb994c6c5bfc"/>
            <note target="#glyph_237b81a3-c1e2-44ed-b728-8b5ff582737f">PN</note>
            <note target="#glyph_cfa42540-dbf0-4012-81da-bd02cbcaafb8">PN</note>
            <note target="#glyph_d7701a07-65bb-421b-9ab3-87c3395973f0">PN</note>
            <note target="#glyph_71ce64fa-e098-481e-be14-80213f92dec6">PN</note>
        </tei:back>
    </tei:text>
</tei:TEI>