{% extends "webpage/base.html" %}

{% load static %}
{% block scriptHeader %}
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Image of Tablet {{ object.tablet }}<span id="clickme" title="click to toggle info" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></h2>
    </div>
        <div class="card-body">
            <div class="row">
                <div class="col-5">
                    <div class="card">
                        <div class="card-header">
                            <h3>Metadata
                                {% if user.is_authenticated %}
                                    <a href="{% url 'tablets:tabletimg_edit' pk=object.id %}" title="edit tablet image"><i class="fa fa-edit"></i></a> | <a href="{% url 'tablets:tabletimage_cut' pk=object.id %}" title="create new glyph out of tablet image"><i class="fa fa-scissors" aria-hidden="true"></i></a> | <a href="{% url 'tablets:tabletimage_delete' pk=object.id %}" title="delete tablet image"><i class="fa fa-remove"></i></a>
                                {% endif %}
                            </h3>
                        </div>
                        
                            <div style="text-align:center; padding:20px;">
                                <img src="{% url 'protected_server' pic=object.filename %}" width="300">
                            </div>
                            <table class="table">
                                <tr>
                                    <th class="w-50">Tablet</th>
                                    <td class="w-50"><a href="{% url 'tablets:tablet_detail' pk=object.tablet.id %}">{{ object.tablet }}</a></td>
                                </tr>
                                <tr>
                                    <th>Comment</th>
                                    <td>{{ object.comment }}</td>
                                </tr>
                            </table>
                        
                    </div>
                </div>
                <div class="col-7">
                    

                    
                        <div id="show-glyphs">
                            <table class="table table-hover table-striped table-condensed">
                                <tr>
                                    <th>Sign</th>
                                    <th>ABZ-Number</th>
                                    <th>Reading</th>
                                    <th>Glyph</th>
                                </tr>
                                {% for x in glyph_list %}
                                    <tr>
                                        <td><a href="{% url 'tablets:sign_detail' pk=x.sign.id %}">{{ x.sign }}</a></td>
                                        <td>{{ x.sign.abz_number }}</td>
                                        <td><a href="{% url 'tablets:glyph_detail' pk=x.id %}">{{ x.reading }}</a></td>
                                        <td>
                                            <img src="/media/glyph_img/{{ x.filename }}" width="50px"></img>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    
                </div>
            </div>
        </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $( "td[class~='readmore']" ).hide();
    })
    $("#clickme").click(function(){
        $( "td[class~='readmore']" ).toggle("slow");
    })  
</script>

<!-- <script type="text/javascript">
    $( document ).ready(function() {
        var map = L.map('map').setView([48.69096, 9.14062], 5);

        L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpg', {
        attribution: 'Data, imagery and map information provided by MapQuest, OpenStreetMap <http://www.openstreetmap.org/copyright> and contributors, ODbL <http://wiki.openstreetmap.org/wiki/Legal_FAQ#3a._I_would_like_to_use_OpenStreetMap_maps._How_should_I_credit_you.3F>',
        maxZoom: 18
        }).addTo(map);

        {% for x in object.institution.all %} 
        {% if x.lat %}
        L.marker([{{ x.lat }}, {{ x.lng }}])
        .addTo(map)
        .bindPopup("<h3> {{object.name}}</h3><table class='table table-striped'> <tr> <td>responsible Institution: </td> <td>{{ x.name }}</td> </tr> <tr> <td>located in: </td> <td>{{ x.place.name }} ({{ x.place.part_of.name }})</td> </tr><tr> <td>more projects from this institution: </td> <td><a href='{% url 'browsing:browse_editions' %}?name=&institution__name={{x.name}}'>{{ x.name }}</a></td> </tr>  </table>");
        {% endif %}
        {% endfor %}
        });
</script> -->
{% endblock %}

