/* Application styles could go here */

html {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*padding-top: 70px;*/
    
}

header {
    flex: 0 0 auto;
}


.main-content {
    flex: 1 0 auto;
    padding-top: 10px;
}

footer {
    flex: 0 0 auto;   
    padding: 20px;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 10px;
    background-color: #f8f8f8;
    /*background-color: #ffffff;*/
}
.navbar {
   /* background-color: #ffffff;
    border-bottom: 0px;*/
    font-weight: 700;

}
/*.dropdown-menu li a {
    font-weight: 600;
}*/

/*custom acdh logo css*/

#acdh-logo {
    width: 25%;
    height: auto;
    padding: 10px 0 10px 0;
}

#github-logo {
    width: 10%;
    height: auto;
    padding: 10px 0 10px 0;
}
* {
   border-radius: 0px !important; 
}
.panel {
    border-radius: 0px !important; 
}
#index-jumbo {
    background-color: #ffffff;
    padding-top: 0px;
    padding-bottom: 10px;
}
#index-image {
    width: 50%;
}
.table {
    /*border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;*/

}
.pagination .cardinality {
    padding-left: 10px;
    padding-right: 10px;

}
.pagination .previous,  .pagination .next {

   /* padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #007bff;*/
}
.cs-filter-label {
   /* margin-right: 20px;*/
}
.bold {
    font-weight: 700;
}
select[multiple] {
    height: 200px;
    display: block;
}