{% extends "webpage/base.html" %}
{% block Titel %}Browse Signs{% endblock %}
{% load django_tables2 %}
{% load i18n %}
{% load crispy_forms_tags %}



{% block content %}
<style type="text/css">
	select[multiple] {
    height: 300px;
    
    display: block;
}
</style>
<div class="container">
<div class="card">
    <div class="card-header" style="color: #ffffff; background-color: #424242;">
    
        <h3>Compare Signs</h3>

    </div>
    <div class="card-body">
        <form method="get" action="{% url 'browsing:compare_signs' %}" class="navbar-form">
                <div class="form-group">
                  <!--   <div class="input-group">
                    Sign 1 <input type="text" class="form-control" name="sign_first" placeholder="search..." required/>
                    Sign 2 <input type="text" class="form-control" name="sign_second" placeholder="search..." required/>
                    </div> -->

                    <div class="input-group">
                    Sign 1 <input list="signs" class="form-control" name="sign_first" placeholder="Select sign" required />
                    Sign 2 <input list="signs" class="form-control" name="sign_second" placeholder="Select sign" required/>
                    <datalist id="signs">
                    {% for x in signs %}
                    <option value="{{x.sign_name}}">
                    {% endfor %}
                    </datalist>
                    </div>

                    <br>
                    <button type="submit" class="btn btn-primary">Search</button>
                    <a class ="btn btn-outline-secondary"  href="{% url 'browsing:compare_signs' %}">Reset search</a> 
                </div>
        </form>

    <div class="row">
        <div class="col-sm-6">
        <p>Sign 1 results</p>
         

        {% if 'sign_first' in request.GET %}

        <p>{{ sign_first_results_count }}</p>

        {% for x in sign_first_results %}
        <li>{{x.identifier}}</li>
        {% endfor %}

        {% endif %}
        </div>
        <div class="col-sm-6">
        <p>Sign 2 results</p>

          {% if 'sign_second' in request.GET %}

        <p>{{ sign_second_results_count }}</p>

        {% for x in sign_second_results %}
        <li>{{x.identifier}}</li>
        {% endfor %}

        {% endif %}
        </div>
    </div>
    </div>
</div>
</div>



{% endblock %}

{% block customScripts %}
{% endblock %}