{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>{% block Titel %} {{ metadata.title }} {% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% block metaDescription %}
      <meta name="description" content="{{ metadata.description }}">
      {% endblock %}
      <meta name="author" content="{{ metadata.author }}">
      <!-- Bootstrap -->
      <link rel="stylesheet" href="{% static 'webpage/libraries/bootstrap400/css/bootstrap.min.css' %}"/></link>

      <!--scroll to top CSS -->
      <link rel="stylesheet" href="{% static 'webpage/libraries/scroll-to-top/css/ap-scroll-top.min.css'%}"></link>
      <!-- jQuery -->
        <script type="text/javascript" src="{% static 'webpage/libraries/jquery/jquery.js' %}"></script>
        <!-- custom css -->
      <link rel="stylesheet" href="{% static 'webpage/css/style.css' %}"/></link>
      <!--scroll to top -->
        <script src="{% static 'webpage/libraries/scroll-to-top/js/ap-scroll-top.min.js'%}"></script>
      <!--font awesome-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Matomo -->
      <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//matomo.acdh.oeaw.ac.at/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', '34']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      </script>
    <!-- End Matomo Code -->
      <!-- Cookie Consent plugin -->
        <script type="text/javascript">
            window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"{% url 'webpage:template' template='imprint' %}","theme":"dark-bottom"};
        </script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
        <!-- End Cookie Consent plugin -->
      {% block scriptHeader %}
      {% endblock %}
  </head>

  <body role="document">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
     

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About
                  <span class="caret"/>
                  </a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'webpage:template' template='about' %}">About project</a>
                    <a class="dropdown-item" href="{% url 'webpage:template' template='docu' %}">Documentation</a>
                    <a class="dropdown-item" href="{% url 'webpage:template' template='imprint' %}">Imprint | Impressum</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse the Data
                  <span class="caret"/>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'browsing:browse_tablets' %}">Browse Tablets</a>
                    <a class="dropdown-item" href="{% url 'browsing:browse_glyphs' %}">Browse Glyphs</a>
                    <a class="dropdown-item" href="{% url 'browsing:browse_signs' %}">Browse Standard Signs</a>
                    <a class="dropdown-item" href="{% url 'browsing:compare_signs' %}">Compare Standard Signs</a>
                    {% if user.is_authenticated %}                      
                          <a class="dropdown-item" href="{% url 'browsing:browse_tabletimages' %}">Browse Tablet Images</a>
                    {% endif %}
                  </div>
              </li>
                             
                        <a class="nav-item nav-link" href="{% url 'charts:bar_charts' %}">Charts</a>
              
                             
                        <a class="nav-item nav-link" href="{% url 'api-root' %}"">API</a>
              
              </ul>
            
            <ul class="navbar-nav ml-auto">
                    
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                {{ user.get_username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="nav-link" href="{% url 'webpage:user_logout' %}">Log Out</a>
                            </div>
                          </li>
                        {% else %}
                        <li class="nav-item">
                                <a class="nav-link" href="{% url 'webpage:user_login' %}">Log In</a>
                         </li>  
                        {% endif %}
                    
                </ul>
        </div>
    </nav>
</header>

     <section class="main-content">
      {% block index-content %}
      {% endblock %}
      <div id="content" class="container">
        {% block content %}
        {% endblock %}
      </div>
    </section>

<footer>
<div class="container">
        <div class="row text-center">
          <div class="col-sm-4 text-center">
            <a href="http://orientalistik.univie.ac.at/" class="navlink">
              <img src="{% static 'webpage/img/Uni_Logo_2016_SW.png' %}" alt="UniWien" title="Department of Near Eastern Studies, University of Vienna" style="width: 60%;"/>
            </a>

        </div>
        <div class="col-sm-4 text-center">
          <a href="https://www.oeaw.ac.at/acdh/acdh-home/" class="navlink">
              <img src="{% static 'webpage/img/acdh_logo_black_03.png' %}" alt="ACDH" title="Austrian Centre for Digital Humanities" style="width: 30%; margin-top: 25px; margin-bottom: 30px;"/>
          </a>
        </div>
        <div class="col-sm-4 text-center">
        <a href="https://www.fwf.ac.at/en/" class="navlink">
              <img src="{% static 'webpage/img/fwf_logo_02.png' %}" alt="FWF" title="FWF Austrian Science Fund" style="width: 50%; margin-top: 20px; margin-bottom: 55px;"/>
            </a>
        </div>
        </div>
    </div>
</footer>

    {% block scripts %}
    <script type="text/javascript" src="{% static 'webpage/libraries/bootstrap400/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpage/libraries/bootstrap335/js/bootstrap-tab.js' %}"></script>
    <!-- scroll-up-bottom -->        
    <script type="text/javascript">
            // Setup plugin with default settings
            $(document).ready(function() {
                $.apScrollTop({
                    'onInit': function(evt) {
                        console.log('apScrollTop: init');
                    }
                });
            });
    </script>    
    {% endblock %}
  </body>
</html>
