{% extends "webpage/base.html" %}
{% load static %}
{% block Titel %} Documentation {% endblock %}
{% block content %}
<div class="container">
                <h1 class="text-center">Documentation</h1>
                <div>
                <h2 class="text-center">How to navigate LaBaSi</h2>
                    <p>
                        The most basic function of LaBaSi is that of a sign list organized around standardized drawings of graphemes. Under <strong>Browse the Data &rarr; <a href="{% url 'browsing:browse_signs' %}">Browse Standard Signs</a></strong>, users are able to look up more than 230 standard signs and their actual attestations as extracted from tablet photographs.<br/>
                        Each standard signs is coded with their number in <a href="https://de.wikipedia.org/wiki/Rykle_Borger">Rykle Borger’s</a> signs lists (ABZ and MesZL). <br/>
                        For each individual grapheme, its reading in the present instance and the word context in which the sign appears is provided (: e.g. <strong>DA – da –</strong> 'Kan-<strong>da</strong>-la-nu). Moreover, relevant meta-data of the tablet from which is was extracted is provided, making for a powerful research tool concerning paleographic developments in the 1st millennium BCE. Information given includes:
                        <ul>
                            <li>
                                The tablets’ provenance according to region, city and archive. The distinction between region and city is necessitated by the fact that e.g. tablets from the Eanna archive from the city of Uruk sometimes were written in hamlets and villages in the city’s agricultural hinterland. YOS 17 290 for example was written in Bāb Asurrītu (<strong>Place</strong>) but belongs to the Eanna archive (<strong>Archive</strong>) and hence is counted among tablets from Uruk (<strong>Region</strong>).
                            </li>
                            <li>
                                The tablet’s date. In addition to the date BCE and the Babylonian date (regnal year of a king and, for later tablets, Seleucid or Parthian Era), also a broader historical periodization is given. In the latter classificatory system, the following abbreviations are employed:
                                <ul>
                                    <li>
                                        <strong>EnB</strong> (Early Neo-Babylonian): Texts from 1st millennium BCE Babylonia predating the establishment of the Neo-Babylonian Empire, i.e. the period of Assyrian rule.
                                    </li>
                                    <li>
                                        <strong>nB</strong> (Neo-Babylonian): Texts dating to the period of the Neo-Babylonian Empire (626-539 BCE)
                                    </li>
                                    <li>
                                        <strong>Ach</strong> (Achaemenid): Texts dating to the period of the Achaemenid Empire (539-330 BCE).
                                    </li>
                                    <li>
                                        <strong>EH</strong> (Early Hellenistic): Texts dating to the roughly three decades between the battle of Gaugamela and the consolidation of the Seleucid Empire (ca. 304 BCE).
                                    </li>
                                    <li>
                                        <strong>Sel</strong> (Seleucid): Texts dating to the period of Seleucid rule over Babylonia (ca. 304 to 141 BCE).
                                    </li>
                                    <li>
                                        <strong>Par</strong> (Parthian): Texts dating to the period of Seleucid rule over Babylonia (after 141 BCE).
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        Only tablets that war at least approximately datable were included in LaBaSi. For text types that contain no date, e.g. letters, dates <strong>ante</strong> and <strong>post quem</strong> based on prosopography and similar tools are indicated. 
                    </p>
                    <p>
                        Additionally, also the tablet’s scribe (if indicated), the overall text genre (i.e. letter, type of administrative or legal document, historiographic text, etc.) and a minimal bibliography for published texts are provided. The search function of LaBaSi is not confined to <i>Standard Signs</i>. For those interested in particular handwritings, it is also possible to search for specific tablets under <strong>Browse Data &rarr; <a href="{% url 'browsing:browse_tablets' %}">Brows tablets</a></strong> or to simply <strong><a href="{% url 'browsing:browse_glyphs' %}">browse through glyphs</a></strong>. 
                    </p>
                </div>
                <div>
                <h2 class="text-center">Technical description</h2>
                    <p>
                        The LaBaSi Application is based on <a href="https://www.djangoproject.com/">django</a>, <i>The web framework for perfectionists with deadlines</i> and uses a <a href="https://www.mysql.com/">MySQL data base</a> as storage unit. Client side scripting is mostly done with <a href="https://jquery.com/">jQuery</a>. The <a href="{% url 'charts:bar_charts' %}">charts</a> were realized with <a href="http://www.highcharts.com/">Highcharts</a>.<br/>
                        The application's code is available on <a href="https://github.com/acdh-oeaw/cfdb-django">GitHub.<a>
                    </p>
                </div>             
    </div>
{% endblock %}