{% extends "webpage/base.html" %}
{% load static %}
{% block Titel %} LaBaSi-Start {% endblock %}
{% block index-content %}

{% endblock %}

{% block content %}
<div class="jumbotron text-center" id="index-jumbo">
<img src="{% static 'webpage/img/labasi_logo.jpg' %}" id="index-image" title="logo design by Sandra Lehecka">
</div>
        <h1 class="text-center">
            <strong>La</strong>te <strong>Ba</strong>bylonian <strong>Si</strong>gns</small>
        </h1>
        
        <blockquote class="text-right" style="padding-top: 20px; padding-bottom: 20px;">

            <h4><i>“Unfortunately, the palaeography of cuneiform<br> was underdeveloped for a long time, and <br> in large measure still remains so".<br></i></h4><p class="text-muted"><i>Dominique Charpin</i></p>

            </blockquote>

        
        <div class="text-justify">
        <p>The above-quoted statement from <i>Dominique Charpin’s</i> commendable <i>Reading and Writing in Babylon</i> (Harvard University Press: Cambridge, MA and London 2010, p. 78) summarizes very well the curious neglect in Assyriology of a promising field of investigation. Most obviously, a solid knowledge of the development of cuneiform script over time and in different cities is an untapped resource for contextualizing undated tablets. Taking this approach further, establishing handwritings of individual scribes has the potential to further our understanding of the complex administrative realities of the large temple households.</p>
        <p>LaBaSi aims at closing this gap in our knowledge of the Late Babylonian period, loosely defined as the centuries between the demise of Neo-Assyrian supremacy over Babylonia in the seventh century BCE and disappearance of cuneiform script in the first century BCE.</p>
        <p>LaBaSi is an on-line cuneiform sign list that will elucidate the diachronic development of sign forms and will allow, through cumulative evidence, the identification of standard forms as well as of scribal idiosyncrasies. Furthermore, owing to the possibility of multiple cross-referencing, it will allow for the first time an investigation of the interrelation between the several developmental stages of different signs. In this way it will serve as a dynamic and flexible research tool for all on-going investigations in the field of Late Babylonian studies.</p>
        <p>LaBaSi is the outcome of a collaborative effort between the research project Diplomatics and Palaeography of Neo- and Late Babylonian Archival Documents (University of Vienna; funded by the FWF, <a href="http://pf.fwf.ac.at/en/research-in-practice/project-finder/30799">Project No P 26104</a>, <a href="http://homepage.univie.ac.at/michael.jursa/">Michael Jursa</a> (PI), Reinhard Pirngruber, postdoctoral researcher) and the <a href="http://www.oeaw.ac.at/acdh/">Austrian Centre for Digital Humanities</a></p>
        </div>

{% endblock %}